#navBar {
	position:relative;
	top:0;
	left:0;
	width: 100%;
	min-width: 100%;
	height: 40px;
	padding: 0; 
	display: block;
	z-index: 1000;
	background-color: #cc0000;
	box-sizing: content-box;
	box-shadow:0px 1px 0px #ddd;
}

/* styles for the app drawer */
#navMenuLogo,#navMenuLogoAlt {
	float: left;
	list-style-type: none;
	padding: 0px;
	margin-right:3px;
	height: 40px;
}
#navMenuLogo:hover {
	background-color:#990000;
}
#tiToolsHoverMenu {
	display: block;
	z-index: 999;
	position: absolute;
	top: 47px;
	left: 6px;
	padding: 8px;
	box-shadow: 2px 2px 3px #888888;
	border-radius: 2px;  
}
#appsIcon {
	font-size:24px;
	color:#fff;
	position:relative;
	padding:8px;
	cursor:pointer;
}

.bubble {
    position: relative;
    padding: 0px;
    background: #ffffff;
    border: #000 solid 1px;
}

.bubble:after {
    content: "";
    position: absolute;
    top: -7px;
    left: 7px;
    border-style: solid;
    border-width: 0 7px 7px;
    border-color: #ffffff transparent;
    display: block;
    width: 0;
    z-index: 1;
}

.bubble:before {
    content: "";
    position: absolute;
    top: -8px;
    left: 7px;
    border-style: solid;
    border-width: 0 7px 7px;
    border-color: #000 transparent;
    display: block;
    width: 0;
    z-index: 0;
}

.tiToolsHeader  a{
	color:#cc0000;
	font-weight:bold;
	font-size:16px;
}

.tiToolsHeader  a:hover{
	color:#990000;
}

.tiToolsApp {
	float:left;
	word-wrap:break-word;
	text-align:center;
	border:1px solid #ffffff;
	border-radius: 3px;
	height: 100px;
	width: 100px;
	padding: 5px;
	margin: 3px 1px 3px 1px;
	color:#222;
}
#tiToolsHoverMenu .tiToolsApp:nth-child(3n+1) {
	/* 3 per row */
	clear:both;
}
.tiToolsApp img {
	display:block;
	margin-left:auto;
	margin-right:auto;
	height: 38px;
}
.tiToolsApp span {
	top:2px;
	position:relative;
}
.tiToolsApp:hover {
	border-color:#118899;
	background-color:#EFF8FB;
	color:#118899;
	text-decoration: none;
}

/* end styles for the app drawer */

#tiLogoImg {
	padding:7px 14px 0 0; 
	position: relative; 
	left: 7px; 
}
#navMenuUsernameText {
	padding:0px 4px;
	color:#ffffff;
	font-size:16px;
}
.navMenuListLiRight:hover #navMenuUsernameText {
	color:#cc0000;
}
.navMenuListLi:hover {
	background-color: #fff;	
}
.navMenuListLiRight:hover {
	background-color:#fff;
}
#navMenuUsernameContainer {
	cursor:default;
	background-color:#aa0000;
}
#navMenuUsernameContainer:hover {
	background-color:#aa0000;
}
.navMenuListLi:hover #btnDevices,.navMenuListLi:hover #loadBtn,.navMenuListLi:hover #loadMenu,.navMenuListLi:hover #saveBtn,.navMenuListLi:hover #saveMenu,.navMenuListLi:hover #aboutBtn,.navMenuListLi:hover .navBtn {
	color:#cc0000;
}
#navMenuDeviceContainer {
	border-left:1px solid #990000;
}
#navMenuDeviceContainer:hover {
	border-left:none;
	margin-left:1px;
}
.navMenuListLiActive {
	background-color: #990000;	
}
.hoverMenu {
	display: block;
	z-index: 999;
	position: absolute;
	border-radius: 0 0 2px 2px;
	padding: 1em;
	margin-left:-1px;
	top: 40px;
	border:1px solid #aaa;
	border-top:none;
	background: linear-gradient(#fff, #f4ffff);
}
.hoverMenu li {
	color:#118899;
}
.hoverMenu li:hover {
	background-color: #E1EEF4;
	color:#115566;
}
#navMenuDeviceContainer .hoverMenu {
	padding:8px 10px 5px 10px;
}
#navMenuDeviceContainer .hoverMenu {
	padding:8px 10px 5px 10px;
}
#navMenuAboutContainer .hoverMenu {
	padding:8px 12px 8px 12px;
}
#navUserPrefsContainer {
	cursor:pointer;
}
#navUserPrefsContainer .hoverMenu {
	padding:8px 12px 8px 12px;
	right:0px;
}
#navMenuList {
	list-style-type: none; 
	display:block;
	height:40px;
	vertical-align:bottom;
	margin:0px;
}

#navMenuList li {
    height:100%;
}

#navMenuList li.navMenuListLiLeft,#navMenuList li.navMenuListLi0 {
	float: left;
	padding:8px 0 0 0;
}

#navMenuList li#navMenuToolNameContainer {
	float: left;
	padding: 3px 15px 0 0;
	cursor:default;
}
#navMenuToolNameText {
	display: inline;
	color: #ffffff;
	text-decoration: none;
	font-size: 1.6em;
	font-weight: 600;
	position:relative;
	left:-1px;
}
#navMenuToolNameArrow {
	color: #ffffff;
	font-size: 90%;
}
#navMenuList li#navMenuInitTextContainer {
	float: left;
	display: inline;
	padding: 8px 0 0 2px;
	list-style-type: none;
}

#aboutMainTextAndImg {
	padding-top:2px;
    padding-bottom: 10px;
    font-weight: 900;
    font-size: 20px;
	border-bottom:1px solid #ddd;
}
#aboutMainTextAndImg img {
    height:36px;
	padding-right:7px;
	padding-left:0px;
	position:relative;
	left:1px;
}
#aboutMainText{
	position:relative;
	top:3px;
}
#copyrightText {
    font-size: 10px;
    padding-top: 8px;
	border-top:1px solid #ddd;
}

.unsavedFileNameSpan {
	color: #FFFFFF;
}

.navMenuSubText {
	text-decoration:none;
	padding:.8em 1em; 
	color:#fff; 
	font-weight:600; 
	font-size:1.2em;
}

.title {
 	background-color: white;
}

#navMenuRightHam {
	display: none;
}

#navMenuProjectContainer {
	background-color:#bb0000;
	float:right;
	cursor:default;
	padding:8px 0 0 0;

}

.navMenuListLiRight:hover .glyphicon-icon-button {
	color:#cc0000;
}

.glyphicon-icon-button {
	color:#ffffff;
	font-size:14px;
}
#btnDevices, #loadBtn, #saveBtn, #saveAsBtn, #generateBtn, #aboutBtn, #loadMenu, #saveMenu, .navBtn {
	background-repeat: no-repeat;
	background-position: 10px center;
	padding: 0 20px 0 20px;
	color: #FFFFFF;
	text-decoration:none; 
	color:#fff; 
	font-size:1.2em;
	font-weight:500;
}

#navMenuList .hoverMenuList {
	padding:0;
	list-style-type:none;
	background-color:#fff;
	border-color:#888;
}
#navMenuList .hoverMenuList li {
	padding:12px 30px 10px 20px;
	border-bottom:1px solid #eee;
	cursor:pointer;
	color:#222;
}
#navMenuList .hoverMenuList li .glyphicon {
	color:#cc0000;
	position:relative;
	right:5px;
	padding-right:3px;
}
#navMenuList .hoverMenuList li:hover,#navMenuList .hoverMenuList li:hover .glyphicon {
	background-color:initial;
	color:#dd0000;
}
.pinmuxAboutSpan {
	font-weight:bold;
	text-decoration:underline;
}
#userPrefsBtn {
	padding:0px 5px;
	top:0px;
}
.ti-icon-myti-menu {
	font-size:20px;
	top:3px;
	right:3px;
	position:relative;
}

.navMenuListLiRight {
	float:right; 
	display:inline; 
	list-style-type:none; 
	padding:12px 8px 0 8px;
}

label.userPref {
	font-weight: normal
}

@media screen and (max-width:900px){
	#usernameText {
		display:none;
	}
	.ti-icon-myti-menu {
		right:0;
	}
}

@media screen and (max-width:720px){
	#navBar {
		margin-top: 0px;
		position: fixed;
	}
	
	.navMenuSubText {
		font-size:90%;
		position: relative;
		top: 2px;
	}
	
	#tiToolsHoverMenu {
		left: 5px;
	}
	
	#navMenuLogo {
		margin: 0 3px 0 0;
	}
	
	#navMenuDeviceContainer,#navMenuOpenContainer,#navMenuSaveContainer,#navMenuAboutContainer,#navMenuList #navMenuUsernameContainer {
		display:none;
	}
	
	/* style for the mobile Hamburger menu on the right side side */
	#navMenuRightHam {
		float: right; 
		list-style-type: none; 
		padding: 0;
		display: initial;
	}

	#hamHoverMenu {
		display: block;
		z-index: 999;
		position: absolute;
		top: 40px;
		right: 0px;
		box-shadow: 0px 2px 3px #888888;
		width:100%;
		text-align:center;
	}
	.navMenuListLi:hover,.navMenuListLiRight:hover {
		background-color:#990000;
	}
	#hamMenuIcon {
		font-size:24px;
		color:#fff;
		position:relative;
		cursor:pointer;
		padding:8px;
	}
	#hamHoverMenu ul {
		list-style-type: none;
		padding: 0px;
		margin: 0px;
	}

	#hamHoverMenu ul li{
		padding: 10px 16px;
		font-size: 14px;
	}
	#hamHoverMenu ul li.info {
		border-bottom:1px solid #888;
		cursor:default;
		margin:0 6px;
		color:#000;
	}
	#hamHoverMenu ul li.link {
		border-bottom: 1px solid #eee;
		cursor: pointer;
		margin:0 6px;
	}
	#hamHoverMenu ul li.link .glyphicon {
		color:#cc0000;
		position:relative;
		right:5px;
	}
	#hamHoverMenu ul li.link .hamMenuText {
		color:#444;
	}
	#hamHoverMenu ul > li:last-child{
		border-bottom: none;
	}
	#hamHoverMenu a:hover {
		text-decoration: none;
	}
	#hamHoverMenu ul li.link:hover .hamMenuText {
		color: #ff1f1f;
	}
	#hamHoverMenu ul li.link:hover .glyphicon {
		color: #ff1f1f;
	}
	/* end style for the mobile Hamburger menu on the right side side */
	
	#navMenuProjectContainer {
		display:initial;
		border:none;
		float:left;
		position:absolute;
	}
	#navMenuList .navMenuListLi:hover .iconButton, #navMenuList .navMenuListLi:hover .glyphicon-icon-button {
		color:#fff;
	}
}

@media screen and (max-width:320px){
	.navMenuSubText {
		font-size:70%;
	}
}

@media screen and (max-width:300px){
	.navMenuSubText {
		display: none;
	}
}